<html>
  <head>
    <title> Button Example </title>
    <script src="lib/react.min.js"> </script>
    <script src="lib/react-dom.min.js"> </script>
    <script src="lib/browser.min.js"> </script>
  </head>
  <body>
    <div id="root"> </div>
    <script type="text/babel" src="javascript/xuly.js" > </script>
  </body>
</html>
